{%extends "base.html"%}
{%block body_block%}
<div class="jumbotron">
<div class="mb-3">
    <form method="post">
  <label for="formGroupExampleInput" class="form-label">USERNAME</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter UserName" name="username">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">PASSWORD</label>
  <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="EnterPassword" name="password">
    <input type="submit" class="btn btn-primary" value = "login">
    {% csrf_token %}
    </form>
</div>
</div>
{% endblock %}